@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Annie Use Your Telescope", cursive;
}

/* Custom Scrollbar for dark theme */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Thin scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Make the track blend with background */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2); /* Subtle scrollbar for dark theme */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4); /* Slightly visible on hover */
}

/* Custom Scrollbar for light theme components */
.bg-white .custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2); /* Dark scrollbar for light theme */
}

.bg-white .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4); /* Darker on hover for light theme */
}
